

h1.title_LF{
    
    font-size: 54pt;
    text-align: center;
    margin-left: 36%;
    
    width: 80%;
    max-width: 400px;
    min-width: 400px;
    background-image:url(https://cdn-icons-png.flaticon.com/512/174/174857.png);
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: right;
    background-position-x: 107px;
    background-position-y: 30px;
    
}

.txt_Welcome{

    font-size: 15pt;
    text-align: center;
    margin-left: 23%;
    
    width: 50%;
    max-width: 1000px;
    min-width: 700px;
}

.txt_Email{

    text-align: center;
    margin-left: 23%;
    margin-right: 77%;
    width: 50%;
    max-width: 1000px;
    min-width: 700px;
}

.img_Profile{

    text-align:center; 
    margin-left: 44.80%;
    
}

.buttonLogin{

    background-color:#0077B5;
    margin-left: 43.15%; 
    
    
}

